@media screen and (min-width: 1200px){
	.container{
		width:800px !important;
	}
}
@media screen and (min-width: 992px){
	.container{
		width:800px !important;
	}
}
@media screen and (min-width: 1100px){
	#home{
  		padding-left:0px;
	}
}
img{
    height: auto;
}
#footer{
  text-align:center;
  margin:0 auto;
}
hr {
    height: 2px;
    background-color:#555;
    width: 75%;
}
.padding-left-s{
  padding-left:5%;
}
.padding-left-links{
  padding-left:6%;
}
.margin-bottom-m{
  margin-bottom:100px;
}
.margin-top-s{
  margin-top:20px;
}
.margin-top-m{
  margin-top:100px;
}
.margin-bottom-s{
  margin-bottom:20px;
}
.col-center{
  margin:0 auto;
}
.text-center{
  text-align: center;	
}