<div class="container" id="stuff" style:"width: 800px;" ng-controller="scrollLinks">
<h2>Frequently asked questions(FAQs) about AT Finder</h2>
  <div class="padding-left-links">
	<div class="row">
		<a ng-click="scrollTo('websites')">- What websites does AT Finder search?</a>
	</div>
	<div class="row">
		<a ng-click="scrollTo('states')">- What states does AT Finder support?</a>
	</div>
	<div class="row">
		<a ng-click="scrollTo('funding')">- Where does the funding for AT Finder come from?</a>
	</div>
	<div class="row">
		<a ng-click="scrollTo('contact')">- Who do I contact if I have problems or comments about AT Finder?</a>
	</div>
	<div class="row">
		<a ng-click="scrollTo('survey')">- Why was I asked to fill out a survey?</a>
	</div>
   </div>
<h2 id="websites">What websites does AT Finder search?</h2>
<p class="padding-left-s">AT Finder currently searches Craigslist, eBay, eBay Classifieds and Oodle. In the future additional sites may be added.</p>

<h2 id="states">What states does AT Finder support?</h2>

<p class="padding-left-s">Currently AT Finder only supports Craigslist searches in the state of Colorado. eBay, eBay Classifieds and Oodle searches are supported nationwide, but the success of the search is not guaranteed. In the future AT Finder may be expanded to support searches in other states.</p>

<h2 id="funding">Where does the funding for AT Finder come from?</h2>

<p class="padding-left-s">AT Finder is made possible by funding from the Assistive Technology Act of 2004 P.L. 108-364; H224B030001 and H224B060002.</p>

<h2 id="contact">Who do I contact if I have problems or comments about AT Finder?</h2>

<p class="padding-left-s">If you have just performed a search, you can click on the "Complete User Experience Survey" button at the top of the page and enter your question. Or, you can contact us directly.</p>

<h2 id="survey">Why was I asked to fill out a survey?</h2>

<p class="padding-left-s">Since AT Finder is funded through a grant from the federal government, we are required to report usage data and customer satisfaction data to the federal government. The survey is a way of collecting this data from each individual user and also gives us feedback as to how AT Finder can be improved.</p>
<div>