Frequently asked questions(FAQs) about AT Finder

<h2>What websites does AT Finder search?</h2>
<a href="#link">What states does AT Finder support?</a>
<a href="#link">Where does the funding for AT Finder come from?</a>
<a href="#link">Who do I contact if I have problems or comments about AT Finder?</a>
<a href="#link">Why was I asked to fill out a survey?</a>
<a href="#link"></a>

<h2>What websites does AT Finder search?</h2>
<p>AT Finder currently searches Craigslist, eBay, eBay Classifieds and Oodle. In the future additional sites may be added.</p>

<h2>What states does AT Finder support?</h2>

<p>Currently AT Finder only supports Craigslist searches in the state of Colorado. eBay, eBay Classifieds and Oodle searches are supported nationwide, but the success of the search is not guaranteed. In the future AT Finder may be expanded to support searches in other states.</p>

<h2>Where does the funding for AT Finder come from?</h2>

<p>AT Finder is made possible by funding from the Assistive Technology Act of 2004 P.L. 108-364; H224B030001 and H224B060002.</p>

<h2>Who do I contact if I have problems or comments about AT Finder?</h2>

<p>If you have just performed a search, you can click on the "Complete User Experience Survey" button at the top of the page and enter your question. Or, you can contact us directly.</p>

<h2>Why was I asked to fill out a survey?</h2>

<p>Since AT Finder is funded through a grant from the federal government, we are required to report usage data and customer satisfaction data to the federal government. The survey is a way of collecting this data from each individual user and also gives us feedback as to how AT Finder can be improved.</p>

<p>©2017,  Regents of the University of Colorado.  All Rights Reserved.  AT Finder was developed at Assistive Technology Partners.</p>
<p>Funding for this project made possible by The Assistive Technology Act of 2004 P.L. 108-364; H224B030001 and H224B060002.</p>
<a href="#link">Contact Us</a>
<a href="#link">University of Colorado Denver</a>