<div class="col-md-12" style="margin-left:20%">
	<div style="width: 600px;">
  		<h3 >Search for AT</h3>
  		<p class="text-muted">*We require all of the following fields in order to maintain our government funding and continue to provide this service*</p>
	    <div class="row">
	   	  	<div class="form-group col-md-7">
	  			<label for="reasonForSearch">Reason for Search</label>
	  			<select type="text" class="form-control" id="reasonForSearch">
	  				<option>Looking for an affordable option</option>
			      	<option>Could not find item elsewhere</option>
			      	<option>Too complicated to find the item elsewhere</option>
			   	</select>
			</div>
		</div>
	    <div class="row">
		   	<div class="form-group col-md-7">
	  			<label for="areaOfNeed" class="col-form-label">Area of Need</label>
	  			<select type="text" class="form-control" id="reasonForSearch">
	  				<option>Computers and Related</option>
			      	<option>Daily Living</option>
			      	<option>Environmental Adaptations</option>
			      	<options>Hearing</options>
			      	<options>Learning, Cognition and Developmental</options>
			      	<options>Mobility, Seating and Positioning</options>
			      	<options>Recreation, Sports and Leisure</options>
			      	<options>Speach Communications</options>
			      	<options>Vehicle Modifications and Transportation</options>
			      	<options>Vision</options>
			   	</select>		
			</div>
		</div>
	    <div class="row">
			<div class="form-group col-md-7">
	  			<label for="typeOfAT">Type of AT Device</label>
	  			<input type="text" class="form-control" id="typeOfAT"></input>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-7">
				<label for="search">Search</label>
	  			<input type="text" class="form-control" id="search" placeholder="Search"></input>
			</div>
			<div class="form-group col-md-5">
			 <button type="button" class="btn btn-primary glyphicon glyphicon-search" style="margin-top:11%;">
	  				<strong>Search</strong>
	  	     </button>
	  	 	</div>
  	 	</div>
	</div>
</div>