<div class="col-md-12" style="margin-left:20%">
	<div class="col-md-8">
		<div class="row">
		<h2>AT Finder</h2>
			<p>AT Finder is a search service focussed on helping people with disabilities find affordable assistive technology.  We are a government funded service made possible by the Assistive Technology Act of 2004 P.L. 108-364; H224B030001 and H224B060002.</p>

			<p>Please support AT Finder by filling out one of our surveys!</p>
			<p>Since AT Finder is funded through a grant from the federal government, we are required to report usage data and customer satisfaction data to the federal government. The survey is a way of collecting this data from each individual user and also gives us feedback as to how AT Finder can be improved.</p>
		</div>
		<div class="row">
		<h2>The ATP Lab</h2>
		  	<div class="w-100"></div>
			<p>about the ATP Lab</p>
  			<div class="w-100"></div>
			<p>Please feel free to contact us with any of your questions of comments
		</div>
	</div>
</div>