
<div class="row col-md-12 justify-content-center">
    <div class="row col-md-12">
        <div class="row col-md-12"> 
            <div class="form-group col-md-7">
                <input type="text" class="form-control" id="search" placeholder="Search" value="{{queryString}}"></input>
            </div>
            <div class="form-group col-md-1 align-items-end alignItemCenter">
                 <a type="button" class="btn btn-primary glyphicon glyphicon-search" style="" href="#/at/test">
                        <strong>Search</strong>
                 </a>
            </div>

        </div>
        <div class="row col-md-12">
            <div class= "col-md-5">
                <h4 ng-show="category">
                    in {{category}}
                    <small class="text-muted">{{subCategory}}</small>
                </h4>
           </div>
            <div class="col-md-7 d-flex justify-content-end">
                <div class="justify-content-end">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <label for="sortSelect">Sort&nbsp;</label>
                        <select class="form-control" id="sortSelect" ng-model="sortSelected" ng-disabled="results.length == 0" ng-change="sortSelect()">
                            <option value="price:false">Price: Low to High</option>
                            <option value="price:true">Price: High to Low</option>
                            <option value="startDateTime:true">Date Posted: Newest</option>
                            <option value="startDateTime:false">Date Posted: Oldest</option>
                        </select>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-2 mr-2 ml-1">
        <div class="card">
            <div class="card-block  no-padding no-margin">
                <form class="form">
                    <div class="form-group col-md-12" ng-class="{'has-danger' : zipCode.length < 5, 'has-success' : zipCode.length == 5}">
                        <label for="zipCode" ng-class="{'text-danger' : zipCode.length < 5}"><strong>Zip Code</strong></label>
                        <input type="text" class="form-control" ng-class="{'form-control-danger' : zipCode.length < 5, 'form-control-success' : zipCode.length == 5}" id="zipCode" ng-model="zipCode" ng-change="zipCodeToCity()"/>
                    </div>
                    <div class="form-group col-md-12" ng-hide="city" >
                        <label for="location2"><strong>Location</strong></label>
                        <input type="text" ng-disabled="true" placeholder="Please Enter Zip Code" ng-show="zipCode < 5" class="form-control col-md-12" id="location2"/>
                    </div>
                    <div class="form-group col-md-12" ng-show="city">
                        <label for="location"><strong>Location</strong></label>
                        <input type="text" ng-disabled="true" placeholder="Please Enter Zip Code" class="form-control col-md-12" id="location" ng-value="city+', '+ state"/>
                    </div>
                    <label class="col" for="includeResultCheckboxes"><strong>Sites</strong></label>
                    <div id="includeResultCheckboxes">
                        <div class="form-check col-md-12">
                            <label class="form-check-label">
                                <input type="checkbox" ng-disabled="!city || (results.length == 0 && (includeEbay || includeWalmart))" ng-change="toggleResults()" ng-model="includeCraigslist" class="form-check-input">
                                Craigslist ({{craigslistResults.length}})
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <label class="form-check-label">
                                <input type="checkbox" ng-disabled="results.length == 0 && (includeCraigslist || includeWalmart)" ng-change="toggleResults()" ng-model="includeEbay" class="form-check-input">
                                Ebay ({{ebayResults.length}})
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <label class="form-check-label">
                                <input type="checkbox" ng-disabled="results.length == 0 && (includeEbay || includeCraigslist)" ng-change="toggleResults()" ng-model="includeWalmart" class="form-check-input">
                                Walmart ({{walmartResults.length}})
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="minPrice"><strong>Minimum Price</strong></label>
                        <input type="text" placeholder="" class="form-control col-md-6" id="minPrice" ng-model="minPrice"/>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="maxPrice"><strong>Maximum Price</strong></label>
                        <input type="text" placeholder="" class="form-control col-md-6" id="maxPrice" ng-model="maxPrice"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row col-md-10">
        <div ng-show="results.length == 0" class="row col-md-12">
            <div class="alert alert-warning col-md-12" role="alert">
                <strong>Warning!</strong> No results found, try refining your filters.
            </div>
        </div>
        <div ng-hide="results.length == 0" class="row col-md-12">
            <!-- results grid -->
            <div class="card col-md-12" ng-repeat="result in results | orderBy:sortType:sortReverse | filter: lessThan('price', maxPrice) | filter: greaterThan('price', minPrice)">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-3">
                        <div class="card-img-bottom" style="height:200px;">
                            <img class="img-thumbnail img-fluid my-2 mr-2 test" ng-src="{{result.thumbnail || result.imageLink}}" alt="" style="max-width:100%; max-height:90%;">
                        </div>
                    </div>
                    <div class="col-md-9 row">
                        <div class="col-md-12">
                            <a href="" ng-click="openResult(result.link)" class="card-title medium-text">{{ result.title }}</a>
                            <p class="card-subtitle text-muted">{{result.site}}</p>
                            <p class="card-text large-text" style="margin-bottom:0px;">
                                <strong>
                                <span ng-show="isANumber(result.price)">$</span>{{result.price}}
                                </strong>
                            </p>
                            <p class="card-text" style="margin-bottom:0px;" ng-show="result.shippingPrice">
                                    <strong>Shipping:</strong>
                                    <span>$</span>{{result.shippingPrice}}
                            </p>
                            <p class="card-text"><strong>Date Posted:</strong> {{result.startDateTime.substring(0, result.startDateTime.indexOf('T'))}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>