<div class="col-md-12" style="margin-left:20%">
	<div class="col-md-8">

		<h3>Contact Us</h3>

		<div class="row">
			<img class="col-md-4" src="images/atFinderLogo.jpg" alt="ATP Logo">
			<div class="col-md-8 row">
			    <h5><strong>Send us a comment or question</strong></h5>
				<div class="formfield margin-bottom-s">	
				    <label for="commentBox" class="col-form-label">Message to send to us</label>
					<textarea rows="4" cols="50" class="col-md-12" id="commentBox"></textarea>
				</div>
				<div class="formfield">	
				    <label for="returnEmail" class="col-form-label">Return Email</label>
					<input class="col-md-12" id="returnEmail"></input>
				</div>
				<div class="row col-md-12">
					<button type="button" class="btn btn-primary margin-top-s float-right">
			  			<strong>Submit</strong>
			  	    </button>
		  		</div>
			</div>
		</div>

		<div class="row">
			<h5><strong>Address</strong></h5>
			<p class="col-md-12">Pearl Plaza<br>501 East 18th Avenue, Suite 130<br>Denver, CO 80203<br>
				<a href="http://www.google.com/maps?q=601+E+18th+Ave,+Denver,+CO+80203,+USA&amp;sa=X&amp;oi=map&amp;ct=title" target="_blank">view on a map</a>
		</div>

		<div class="row col-md-offset-4">
			<h5><strong>Email/Phone Numbers</strong></h5>
			<p class="col-md-12">EMAIL: 
				<a href="mailto:GeneralInfo@AT-Partners.org">GeneralInfo@AT-Partners.org</a>
			<br>MAIN PHONE: 303.315.1280
			<br>CLINIC PHONE: 303.315.1282
			<br>TTY: 303.837.8964
			<br>FAX: 303.837.1208</p>
		</div>

		<div class="row col-md-offset-4">
			<h5><strong>Websites</strong></h5>
			<a class="col-md-12" href="http://www.ucdenver.edu/academics/colleges/Engineering/research/AssistiveTechnologyPartners/Pages/Home.aspx" 
			target="_blank">Assistive Technology Partners</a>
			<a class="col-md-12" href="http://www.ucdenver.edu/academics/colleges/medicalschool/Pages/somWelcome.aspx" target="_blank">CU School of Medicine</a>
			<a class="col-md-12" href="http://www.ucdenver.edu/academics/colleges/medicalschool/departments/pmr/Pages/Welcome.aspx" 
			target="_blank">CU Department of Physical Medicine and Rehabilitation</a>
		</div>		
	</div>	
</div>
<div></div>