<div class="col-md-12" style="margin-left:20%">
	<div class="col-md-8">
  		<h3 >Search for Assistive Technology</h3>
  		<p class="lead">*We require all of the following fields in order to maintain our government funding<br>and continue to provide this service*</p>
  	<div ng-controller="cookieController">
	    <div class="row">
	   	  	<div class="form-group col-md-4">
	  			<label for="reasonForSearch">Reason for Search</label>
	  			<select type="text" class="form-control" id="reasonForSearch" ng-options="option.name for option in reasonForSearchData.availableOptions track by option.id"
      			ng-model="reasonForSearchData.selectedOption"></select>
			</div>

			<div class="form-group col-md-3">
	  			<label for="areaOfNeed" class="col-form-label">Area of Need</label>
	  			<select type="text" class="form-control" id="reasonForSearch" ng-options="option.name for option in areaOfNeedData.availableOptions track by option.id"
      			ng-model="areaOfNeedData.selectedOption">
			   	</select>		
			</div>

			<div class="form-group col-md-5">
	  			<label for="typeOfAT" class="col-form-label">Type of AT Device</label>
	  			<select type="text" class="form-control" id="typeOfAT" ng-options="option.name for option in typeOfAtDeviceData.availableOptions track by option.id"
      			ng-model="typeOfAtDeviceData.selectedOption">
			   	</select>		
			</div>
		</div>
	</div>
		<div class="row">
			<div class="form-group col-md-7">
				<label for="search">Search</label>
	  			<input type="text" class="form-control" id="search" placeholder="Search"></input>
			</div>
			<div class="alignItemCenter">
				<span>near</span>
			</div>
			<div class="form-group col-md-3">
				<label for="zipCode">Zip Code</label>
	  			<input type="text" class="form-control" id="zipCode" placeholder="zipCode"></input>
			</div>
			<div class="form-group col-md-1 align-items-end alignItemCenter">
			 <button type="button" class="btn btn-primary glyphicon glyphicon-search" style="margin-top:10.75%;">
	  				<strong>Search</strong>
	  	     </button>
	  	 	</div>
	  	 	<div class="offset-md-11">
		  	     	<a href="#/Search">advanced</a>
		  	 </div>
  	 	</div>
  	 </div>
</div>
<div class="row">
	<hr class="mt-2">
</div>
<div class="col-md-12" style="margin-left:20%">
	<div style="width: 600px;">
		<div class="row">
			<h3>Search Categories</h3>
		</div>
  	 </div>
</div>