<div class="col-md-12" style="margin-left:15%">
	<div class="card col-md-9" style="padding-right:5%;">
	<div class="card-block">
  		<h3 >Search for Assistive Technology</h3>
  		<p class="lead">*We require all of the following fields in order to maintain our government funding*</p>
  		<form name="searchForm">
			    <div class="row">
			   	  	<div class="form-group col-md-4">
			  			<label for="reasonForSearch" class="col-form-label"><strong>Reason for Search</strong></label>
			  			<span style="color:red">*</span>
			  			<select ng-required="true" type="text" class="form-control" id="reasonForSearch" name="reasonForSearch" ng-options="option.name for option in reasonForSearchData.availableOptions track by option.id" ng-model="reasonForSearchData.selectedOption" aria-required="true">
      						<option value=""></option>
			  			</select>
					</div>

					<div class="form-group col-md-3">
			  			<label for="areaOfNeed" class="col-form-label"><strong>Area of Need</strong></label>
			  			<span style="color:red">*</span>
			  			<select ng-required="true" type="text" class="form-control" id="areaOfNeed" name="areaOfNeed" ng-options="option.name for option in areaOfNeedData.availableOptions track by option.id"
		      			ng-model="areaOfNeedData.availableOptions.selected" aria-required="true">
      						<option value=""></option>
					   	</select>		
					</div>

					<div class="form-group col-md-5">
			  			<label for="typeOfAT" class="col-form-label"><strong>Type of AT Device</strong></label>
			  			<span style="color:red">*</span>
			  			<select ng-required="true" type="text" class="form-control" id="typeOfAT" name="typeOfAT" ng-options="option.name for option in typeOfAtDeviceData.availableOptions track by option.id"
		      			ng-model="typeOfAtDeviceData.availableOptions.selected" aria-required="true">
	      					<option value=""></option>
					   	</select>		
					</div>
				</div>
			<div class="row">
				<div class="form-group col-md-7">
					<label for="search"><strong>Search</strong></label>
			  		<span style="color:red">*</span>
		  			<input ng-model="queryString" ng-required="true" type="text" class="form-control" id="search" name="search" placeholder="Search" aria-required="true"></input>
				</div>
				<div class="alignItemCenter">
					<span class="large-text pt-3">near</span>
				</div>
				<div class="form-group col-md-3">
					<label for="zipCode"><strong>Zip Code</strong></label>
			  		<span style="color:red">*</span>
		  			<input ng-model="zipCode" ng-required="true" type="text" class="form-control" id="zipCode" name="zipCode" placeholder="zipCode"></input>
				</div>
				<div class="form-group col-md-1 align-items-end alignItemCenter">
					 <button ng-click="searchForm.$valid && searchRedirect()" type="submit" class="btn btn-primary glyphicon glyphicon-search" style="margin-top:10.75%;">
			  				<strong>Search</strong>
			  	     </button>
		  	 	</div>
	  	 	</div>
	  	 </form>
  	</div>
  	</div>
</div>
	<hr class="divider" style="margin-left:15%; margin-top:2%; margin-bottom:2%;" >
<div class="col-md-12" style="margin-left:17%">
	<div class="row">
		<h3>Search By Category</h3>
	</div>
	<div class="row">
		<div class="col-md-12" id="navbarToggleATList" ng-controller="NavController">
		&nbsp;
			<div class="row col-md-12">
				<div ng-repeat="category in categories" class="col-md-3">
					<h6 style="text-bold">{{category.title}}</h6>
					<dt class="col-md-12">
						<dd class="col-md-12 col-md-offset-1" ng-repeat="subCategory in category.subCategories">
							<a href="#/at/{{category.title}}/{{subCategory.title}}/{{subCategory.queryString}}">
									{{subCategory.title}}
							</a>
						</dd>
					</dt>
				</div>
			</div>
		</div>
	</div>
</div>