html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#ng-view {
    padding-top: 15px;
}
#footer{
  text-align:center;
  margin:0 auto;
}
hr {
  width:75%;
  margin-left:15%;
}
.test{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-20%);
}
#searchResultImg {
  width:100%;
  height: 100%;
}
.padding-left-s{
  padding-left:5%;
}
.padding-left-links{
  padding-left:6%;
}
.margin-bottom-m{
  margin-bottom:100px;
}
.margin-top-s{
  margin-top:20px;
}
.margin-top-m{
  margin-top:100px;
}
.margin-bottom-s{
  margin-bottom:20px;
}
.col-center{
  margin:0 auto;
}
.text-center{
  text-align: center;	
}
.no-margin{
    margin:0;
}
.no-padding{
    padding:0;
}
.no-border{
    border:0;
}
.alignItemCenter{
    display:flex;    
    align-items:center;
}

.alert {
    width: 300px;
    height: 60px;
    margin: 0 0 20px;
}
.alert:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -5px;
}

.alert .centered {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px 0 15px;
}
.large-text{
  font-size: 150%;
}
.medium-text{
  font-size: 125%;
}
.content-background{
  background:#F0F8FF;
}
.secondary-background{
  background:#6495ED;
}
.background{
  background:#F0F8FF;
}
