<div class="container">
	<h1 class="display-4">Resources</h1>

	<h2>AT Funding $ources</h2>

	<p>AT Funding $ources is a searchable online database tool. It is provided to assist Coloradoans with disabilities locate needed funding to purchase AT devices and services for their specific needs.</p>

	Link: http://www.at-partners.org/ATFunding

	<h2>Able Trader</h2>

	<p>A simple and friendly place for people to research, buy and sell their used vans and mobility equipment online.</p>

	Link: http://www.abletrader.com

	<h2>Different Needz</h2>

	<p>A web store that offers special needs families a one-stop shop to buy and sell their gently used medical and special needs equipment and adaptive toys.</p>

	Link: http://www.differentneedz.com

	<h2>Disabled Dealer</h2>

	<p>Brings people with disabilities and the elderly complete access to new and pre-owned adaptive equipment, services, resources and events throughout the states of California, Nevada and Arizona.</p>

	Link: http://www.disableddealer.com

	<h2>Disabled Gear</h2>

	<p>A free and easy-to-use UK based website designed to make buying and selling second-hand disability equipment painless.</p>

	Link: http://www.disabledgear.com

	<h2>Choosing an Assistive Technology Vendor</h2>

	<p>Successful ownership of a device can depend greatly on choosing the right AT vendor and building a working relationship with their staff. This is especially important when the device is expensive and the opportunity to get a replacement may be years away.</p>

	<p>The process of acquiring the device is only a component of ownership. Over the life of the product, it will need maintenance and repairs. An inoperable wheelchair or communication device can significantly impair the consumer’s ability to function. The vendor plays an important support role in the user’s life.</p>

	<strong>What criteria should be used as a guide for finding a vendor?</strong>
	<ul>
	<li>Is the vendor an approved provider of your insurance carrier?</li>
	<li>Will they file a claim with the insurance carrier?</li>
	<li>Does the vendor carry a variety of products and will he explain the differences?</li>
	<li>Does the vendor fully explain how to use and care for the device?</li>
	<li>Does he provide a try out or trial period?</li>
	<li>Does the vendor have loaner equipment if the equipment breaks down?</li>
	<li>Do they pick up and deliver?</li>
	<li>Does the vendor have qualified repair staff?</li>
	<li>What are the usual repair charges (excluding parts)?</li>
	<li>Do they offer repairs in my home?</li>
	<li>Do they return phone calls promptly?</li>
	<li>Does the vendor carry professional liability insurance?</li>
	<li>Does the consumer feel comfortable discussing with the staff the personal disability issues relating to the device?</li>
	</ul>
	<strong>What professionals are considered qualified to provide an individual with an assistive technology device?</strong>
	<ul>
	<li>Individuals may be certified through the Rehabilitation Engineering & Assistive Technology Society of North America (RESNA) as an Assistive Technology Supplier (ATS) – someone who is involved with the sale and service of rehabilitation equipment or commercially available assistive technology products or devices for consumers with disabilities.</li>
	<li>Individuals may also be certified through the Rehabilitation Engineering & Assistive Technology Society of North America (RESNA) as a Rehabilitation Engineering Technologist (RET) – someone who applies engineering principles to the design, modification, customization and/or fabrication of assistive technology persons with disabilities.</li>
	<li>Individuals may be registered through the National Registry of Rehabilitation Technology Suppliers (NRRTS) as a Rehabilitation Technology Supplier (RRTS) - someone who provides enabling technology in the areas of wheeled mobility, seating and alternative positioning, ambulation assistance, environmental control and activities of daily living.</li>
	<li>Individuals may also be certified through the National Registry of Rehabilitation Technology Suppliers (NRRTS) as a Certified Rehabilitation Technology Supplier (CRTS) - someone who has been registered with NRRTS for 2 years and passed the RESNA ATS exam. To maintain this certification, the registrant must obtain 1 CEU (continuing education units) per year.</li>
	<ul>
	<li>Families should also know that a certified rehabilitation technology supplier knows the equipment. This means knowing how the equipment can best meet the needs of the individual and the goals of the individual and therapist. In many cases, the knowledge of a CRTS assists the therapist in making equipment recommendations for the family from among the options available.</li>
	</ul></ul>
</div>